.form-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2 {
  margin-top: 0;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;

  &:last-of-type input {
    width: 8em;
  }
}

input {
  background-color: #1e293b;
  color: inherit;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #475569;
  border-radius: 4px;
  font-size: 1rem;
}

input.ng-invalid.ng-touched {
  border-color: #e74c3c;
}

button {
  width: 100%;
  padding: 0.75rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

ul {
  font-size: 0.875rem;
  color: #e74c3c;
  margin-block: -0.75em 1.125em;
  padding-inline-start: 1.125em;
}

pre {
  background-color: #1e293b;
  border-radius: 4px;
  margin: 1.75em 0 0;
  padding: 0.75em;
}